@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@400;700&display=swap');

.certificate-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.certificate {
  padding: 30px;
  text-align: center;
  border: 5px solid #ffffff;
  margin: 20px auto;
  background: linear-gradient(45deg, #4a90e2, #6a82fb, #a6c0fe);
  background-size: cover;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 1000px;
  height: 600px;
  position: relative;
  color: #ffffff;
}

.certificate-header {
  margin-bottom: 20px;
}

.certificate-header h2 {
  font-size: 3rem;
  color: #ff9800;
  margin: 0;
}

.certificate-content {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  margin: 0 30px;
}

.certificate h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.certificate h2 {
  font-size: 2.5rem;
  margin: 20px 0;
}

.certificate h3 {
  font-size: 1.8rem;
  margin: 20px 0;
}

.certificate p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.certificate-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}

.stamp {
  width: 14rem;
}

.signature {
  width: 14rem;
}

button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #003a75;
  transform: scale(1.05);
}
.certificate-images{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: -150px;
}