.navbar {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link, .navbar-brand, .nav-link, .profile {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.theme-icon:hover {
  cursor: pointer;
  color: #8a35e5;
}

.navbar-brand {
  font-weight: bolder;
  font-size: 1.5rem;
  transition: transform 0.5s ease, color 0.5s ease;
  transform: translateZ(0); 
}

.navbar-brand:hover, .nav-link:hover, .home-link:hover, .profile:hover {
  color: var(--highlight-color);
}

.navbar-brand:hover {
  transform: scale(1.15); 
  opacity: 0.8; 
}

.nav-link {
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.profile {
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--highlight-color);
  transition: width 0.3s ease-in-out;
}

.nav-link .profile:hover::after {
  width: 70%;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link-active {
  color: var(--highlight-color);
}

.thunder {
  transition: transform 0.5s ease, color 0.5s ease;
}

.home-link:hover .thunder.animated {
  transform: scale(1.5) translateZ(0);
  color: #ffc107;
}
