:root {
  --bg-color: #121212; 
  --navbar-bg-color: #1a1a1a; 
  --body-bg-color: #111111; 
  --text-color: #ffffff; 
  --card-bg-color: #1c1c1c; /* Card background color */
  --highlight-color: #8a35e5; /* Highlight color */
  --border-color: #333333; /* Border color */
}
.light-theme{
  --bg-color: #FAFAFA; /* Soft white background for a cleaner look */
  --navbar-bg-color: #FFFFFF; /* Pure white for navbar to stand out */
  --body-bg-color: #FAFAFA; /* Matching body background for cohesion */
  --text-color: #323232; /* Dark grey for text, providing contrast without harshness */
  --card-bg-color: #FFFFFF; /* Cards stand out with a pure white against the softer body background */
  --highlight-color: #4A90E2; /* A calm, elegant blue for highlights and links */
  --border-color: #E0E0E0; /* Light grey borders for subtle separation */
}


body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Poppins', Arial, sans-serif; /* New font choice */
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  background-color: var(--card-bg-color);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); /* Even darker shadow */
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1); /* Deepest shadow on hover */
}

.button {
  background-color: var(--highlight-color); /* Highlight color for buttons */
  color: black;
  border: 2px solid var(--highlight-color); /* Add border */
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease; /* Include color transition */
  font-size: 1rem;
  font-weight: 500;
  margin: 10px;
}
.light-theme .button{
  color: whitesmoke;
}

.button:hover {
 border: 2px solid white;
  color: #ffffff; 
  transform: translateY(-3px); 
}
.light-theme .button:hover{
  color: black;
  border: 2px solid black;

}


.link-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Additional styling for links */
a {
  text-decoration: none;
  color: var(--highlight-color);
}


/* Focus on input and textarea */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
  box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.8); /* Deepest glow effect */
}

/* Typography enhancements */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  font-family: 'Poppins', Arial, sans-serif; /* New font choice */
  margin: 10px 0;
}
