:root {
  --bg-color: #121212; 
  --navbar-bg-color: #1a1a1a; 
  --body-bg-color: #111111; 
  --text-color: #ffffff; 
  --card-bg-color: #1c1c1c; 
  --highlight-color: #8a35e5; 
  --highlight-color2: #006DAA;
  --border-color: #333333; 
}
.light-theme{
  --bg-color: #FAFAFA; 
  --navbar-bg-color: #F0F0F0; 
  --body-bg-color: #FAFAFA; 
  --text-color: black; 
  --card-bg-color: #FFFFFF; 
  --highlight-color: #8a35e5; 
  --highlight-color2: #006DAA;
  --border-color: #E0E0E0; 
}


body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Poppins', Arial, sans-serif; 
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  background-color: var(--card-bg-color);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8); 
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lesson_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-content: center;
  background-color: var(--card-bg-color);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px;
  max-width: calc(45% - 20px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1); 
}

.button {
  background-color: var(--highlight-color); 
  color: black;
  border: 2px solid var(--highlight-color); 
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease; 
  font-size: 1rem;
  font-weight: 500;
  margin: 10px;
}

.button:disabled{
  background-color: gray;  color: black;
  border: 2px solid gray; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin: 10px;
}
.button:disabled:hover{
transform: none;
}
.light-theme .button{
  color: whitesmoke;
}

.button:hover {
 border: 2px solid white;
  color: #ffffff; 
  transform: translateY(-3px); 
}
.light-theme .button:hover{
  color: black;
  border: 2px solid black;

}


.link-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


a {
  text-decoration: none;
  color: var(--highlight-color);
}



input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: var(--highlight-color);
  outline: none;
}


h2, h3, h4, h5, h6, ul {
  color: var(--text-color);
  font-family: 'Poppins', Arial, sans-serif; 
  margin: 10px 0;
}
