.lesson-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px;
}

.lesson-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--highlight-color);
}

.lesson-content {
  margin-bottom: 20px;
}

.lesson-section {
  margin-bottom: 30px;
}

.lesson-section h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.lesson-section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}



.figure{
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}

.lesson-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lesson-nav {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 260px;
  overflow-y: auto;
  padding: 30px;
  background-color: var(--navbar-bg-color);
}

.lesson-nav ul {
  list-style-type:circle;
  padding: 0;
}

.lesson-nav li {
  margin-bottom: 10px;
}

.lesson-nav a {
  text-decoration: none;
  color: #32908F;
  font-weight: bold;
}

.lesson-nav a:hover {
  color:var(--highlight-color);
} 


.main-con{
  display: flex;
  justify-content: space-between;
}
.inner-con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
b{
  color: #32908F;
}


.lesson-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px;
}

@media (max-width: 750px) {
  .lesson-nav {
    display: none; /* Hide the lesson navigator for devices <= 400px width */
  }

  .lesson-container {
    padding: 20px; /* Reduce padding for small screens */
    max-width: 100%; /* Use full width to better utilize space */
  }

  .lesson-title, .lesson-section h3 {
    font-size: 18px; /* Reduce font size for headers */
  }

  .lesson-section p, .quiz-container, .input, .label, .submit-button, .badge-text {
    font-size: 14px; /* Reduce font size for text elements */
  }

  .figure {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center alignment */
    gap: 10px; /* Reduce gap */
  }

  .figure img {
    width: 100%; /* Full width for images */
    height: auto; /* Maintain aspect ratio */
  }

  .editor-container {
    width: 100%; /* Full width for the code editor */
  }

  .main-con, .inner-con {
    flex-direction: column; /* Ensure vertical layout for main and inner content */
  }
}


