.codepen-container2 {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  height: 80vh;
  padding: 20px;
}

.editors2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.editor2 {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
}

.editor-header2 {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  text-align: center;
}

.code2 {
  flex: 1;
  background-color: #1e1e1e;
  color: #dcdcdc;
  border: none;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  resize: none;
  outline: none;
  overflow: auto;
}

.html-code2 {
  color: #e34c26;
}

.css-code2 {
  color: var(--highlight-color);
}

.js-code2 {
  color: #f1e05a;
}

.preview2 {
  grid-row: 2;
  height: 300px; 
  border: 1px solid #111;
  border-radius: 4px;
  overflow: hidden;
}

.preview-frame2 {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  
}
