
.home-page {
  text-align: center;
  padding: 50px 20px;
}

.card {
  margin: 20px auto; 
  max-width: 100%;
}

h1{
  font-size: 4rem;
}

p{
  font-size: 1.5rem;
}

h2{
  font-size: 2rem;
}

.thunder {
  transition: transform 0.5s ease, color 0.5s ease;
  transform: translateZ(0); 
}

.thunder.animated {
  transform: scale(1.5) translateZ(0);
  color: #ffc107; /* Gold color */
}
