
.container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--card-bg-color, #fff);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.link:hover{
  text-decoration: underline;
}
.link{
  position: relative;
  left: 135px;
  bottom: 10px;
  font-size: 15px;
}

.title {
  margin-bottom: 20px;
  color: var(--highlight-color, #0056b3);
}
a{
  color: var(--highlight-color);
  text-decoration: none;
  font-weight: 500;
}
/* Logout.css */
.logout-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #333;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  z-index: 1000; /* Ensure it's above other content */
}

.logout-banner svg {
  font-size: 24px; /* Adjust icon size */
}
.Eyeicon{
  color: var(--highlight-color);
  background: none;
  border: none;
  position: absolute;
  right: 0; /* Adjust as needed */
  top:50%;
  transform: translateY(-65%); /* Adjust for vertical centering */
  cursor: pointer;
}


.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  flex: 1;

}

.passwordContainer{
  position: relative; /* Ensure relative positioning */
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: var(--highlight-color, #007bff);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
 }

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

.hover_text:hover{
  text-decoration: underline;
}